body {
    background: linear-gradient(60deg, rgb(213, 230, 206), rgb(242, 203, 195));
    color: white;
    text-shadow: -1px 0 2px black, 1px 0 2px black;
}

header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    /* border-top: 2px solid rgb(242, 203, 195); */
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

h2 {
    margin: 0;
    color: rgb(241, 169, 155);
    text-shadow: 1px 1px 1px black;
}

img {
    border-radius: 2px;
    height: 60px;
}

.aboutHeader {
    text-align: center;
    margin-top: 100px;
}

.aboutContent {
    margin-inline: 15%;
    border-radius: 5px;
    padding: 10px;
    background: white;
    color: rgb(243, 159, 142);
    text-shadow: none;
}

.conteiner {
    margin: 100px;
    margin-top: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(90, 40, 11);
    justify-content: space-around;
    gap: 20px;
    border-radius: 15px;
    /* border: 1px solid lightcoral; */
}

.projuct {
    /* border: 1px solid lightcoral; */
    position: relative;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}

.imageProject {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 15px;
    transition: all 1s linear;
    cursor: pointer;
}

.imageProject:hover {
    object-fit: contain;
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: 9;
}


/* .fullImage{
    position: absolute;


} */