body {
    background: linear-gradient(60deg, rgb(213, 230, 206), rgb(242, 203, 195));
    color: white;
    text-shadow: -1px 0 2px black, 1px 0 2px black;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(223, 12, 12, 0);
    /* border-top: 2px solid rgb(242, 203, 195); */
    background: #7e0b0bd8;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    z-index: 10;
}

.header-href {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 120%;
}

h2 {
    margin: 0;
    color: rgb(241, 169, 155);
    text-shadow: 1px 1px 1px black;
}

img.header-logo {
    border-radius: 2px;
    height: 80px;
    justify-content: flex-end;
}

.logo-background {
    background: url('./images/לוגו_thumbnail2.png');
    height: 170px;
    margin-top: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutHeader {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
    font-size: 150%;
}

.aboutContent {
    margin-inline: 15%;
    border-radius: 5px;
    padding: 10px;
    /* background: white; */
    color: #7e0b0b;
    text-shadow: none;
    font-size: 130%;
}

.projuctsHeader {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 50px;
    font-size: 150%;
}

.conteiner {
    margin: 100px;
    margin-top: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background: #7e0b0b;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 15px;
    /* border: 1px solid lightcoral; */
}

.projuct {
    /* border: 1px solid lightcoral; */
    position: relative;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}

.imageProject {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 15px;
    /* transition-property: width;
    transition-duration: 4s;
    transition-delay: 2s; */
    transition: all 1s ease-in;
    cursor: pointer;
}

.imageProject:hover {
    object-fit: contain;
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: 9;
}

.flex-coulmn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


/* .fullImage{
    position: absolute;


} */