body {
    background: linear-gradient(60deg, rgb(213, 230, 206), rgb(242, 203, 195));
    color: white;
    text-shadow: -1px 0 2px black, 1px 0 2px black;
}

header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    /* border-top: 2px solid rgb(242, 203, 195); */
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h2 {
    margin: 0;
    color: rgb(241, 169, 155);
    text-shadow: 1px 1px 1px black;
}

img {
    border-radius: 2px;
    height: 60px;
}

.aboutHeader {
    text-align: center;
    margin-top: 100px;
}

.aboutContent {
    margin-inline: 15%;
    border-radius: 5px;
    padding: 10px;
    background: white;
    color: rgb(243, 159, 142);
    text-shadow: none;
}

.conteiner {
    margin: 40px;
    margin-top: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: space-around;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid lightcoral;
}

.projuct {
    border: 1px solid lightcoral;
    height: 300px;
    width: 200px;
    border-radius: 8px;
}